<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Horrific Cuts Hair Salon</title>
  </head>
  <body>
    <div class='container'>
      <h1>{{ stylist.getName }}</h1>

      {% if clients is not empty %}
        <h4>Client list</h4>
        <h6>Click on x to delete</h6>
        <ul>
          {% for client in clients %}
            <li>
              <form action='/client/{{ client.getId }}' method='post' class='inlineForm'>
                <input name='_method' type='hidden' value='delete'>
                <input id='stylist_id' name='stylist_id' type='hidden' value='{{ stylist.getId }}'>
                <input type='submit' class='deleteLink' value='x'>
              </form>
              <form action='/client/{{ client.getId }}/edit' class='inlineForm'>
                <input id='stylist_id' name='stylist_id' type='hidden' value='{{ stylist.getId }}'>
                <input type='submit' class='deleteLink' value='{{ client.getName }}'>
              </form>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <h4>Add a client</h4>

      <form action='/clients' method='post'>
        <input id='stylist_id' name='stylist_id' type='hidden' value='{{ stylist.getId }}'>
        <div class='form-group'>
          <label for='name'>Client name:</label>
          <input id='name' name='name' class='form-control' type='text'>
        </div>
        <button type='submit' class='btn btn-success'>Add client</button>
      </form>
      <form action='/stylists/{{ stylist.getId }}/edit'>
        <button type='submit' class='btn btn-warning'>Edit stylist</button>
      </form>
      <form action='/'>
        <button type='submit' class='btn btn-primary'>Home</button>
      </form>

    </div>
  </body>
</html>
